<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Texto</title>
</head>
<body>
    <h1 th:text="${datos.id == null} ? 'Nueva Tarea' : 'Editar Tarea'"></h1>
    <form th:action="@{/datos}" th:object="${dato}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Nombre:</label>
        <input type="text" th:field="*{tarea}" />
        <button type="submit">Guardar</button>
    </form>
    <a href="/datos">Volver a la lista</a>
</body>
</html>